<!DOCTYPE html>
<html>

	<head>
		<title>Console</title>
		<link rel="stylesheet" href="/css/consoles.css" />
	</head>

	<body>
		<header>
			<div th:if="${#request.userPrincipal}">
		        <!-- Se è un utente OAuth2 (Google) -->
		        <span th:if="${#request.userPrincipal.principal instanceof T(org.springframework.security.oauth2.core.oidc.user.DefaultOidcUser)}"
		              th:text="${#request.userPrincipal.principal.attributes['email']}">[OAuth2 User]</span>
		
		        <!-- Se è un utente locale -->
		        <span th:if="${#request.userPrincipal.principal instanceof T(org.springframework.security.core.userdetails.User)}"
		              th:text="${#request.userPrincipal.name}">[Utente Locale]</span>
		
		        <a href="/logout">
		            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button>
		        </a>
			</div>
			
			<div th:unless="${#request.userPrincipal}">
			     <a href="/login">
			         <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>
			     </a>
			</div>
		</header>
	
		<div class="logo"><img src="/images/logo-game.png" width="50%"/></div>
		<div><a href="/"> Home </a></div>
		<h1>Console</h1>
		<div th:if="${consoles==null || consoles.isEmpty()}">Non ci sono consoles nel sistema</div>
		<ul>
			<li th:each="console : ${consoles}">
				<a th:href="@{'/console' + '/' + ${console.id}}"
					th:text="${console.name} + ' (' + ${console.anno} + ')'">Up! (2000)</a>
			</li>
		</ul>
	</body>
	

</html>