<!DOCTYPE html>
<html>

<head>
	<title>
		SiwGame - Homepage
	</title>
	<link rel="stylesheet" href="/css/index.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div class = "logo"><img src="/images/logo-game.png" width="40%" /></div>
	<h1>Consulta l'archivio</h1>
	<div>
		<a href="/console">Elenco Console</a>
	</div>
	<div>
		<a href="/game">Elenco Giochi</a>
	</div>
</body>

</html>