<!DOCTYPE html>
<html>

<head>
	<title>
		SiwConsole - Gestione Console
	</title>
	<link rel="stylesheet" href="/css/indexConsole.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><a href="/"><img src="/images/logo-game.png" width="40%" /></a></div>
	<h1>Gestione Console</h1>
	<div>
		<a href="/admin/formNewConsole">Inserisci i dati di un console</a>
	</div>
	<div>
		<a href="/admin/manageConsoles">Gestisci le console</a>
	</div>
	<div>
		<a href="/formSearchConsoles">Cerca console per anno</a>
	</div>
</body>

<footer>
	<div>
		<a href="/">
			<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Torna indietro</button>
		</a>
	</div>
</footer>

</html>