/* Reset di base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Corpo della pagina */
body {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding-top: 80px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

header div {
    display: flex;
    align-items: center;
}

header span {
    margin-right: 15px;
    font-size: 1.1em;
}

/* Logo */
img {
    margin: 60px 15px 10px 0px;
    text-align: center;
}

/* Link */
a {
    text-decoration: none;
    color: #00b4d8;
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    padding: 5px;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #0077b6;
}

/* Contenitore principale */
div {
    margin: 20px auto;
    max-width: 800px;
}



/* Titoli */
h1, h2, h3 {
    color: #00b4d8;
    text-align: center;
}

/* Informazioni console */
b {
    font-size: 1.2em;
}

/* Recensioni */
ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Messaggi di avviso */
h2 + div {
    font-style: italic;
    color: red;
}

button:hover {
    background-color: #00b4d8;
    color: white;
}

.img img{
	margin-top: 0px;
}

/* Layout responsivo */

